.App {
  text-align: center;
}

#map { 
  height: 180px; 
}

.leaflet-container {
  width: 100vw;
  height: 75vh;
}

.leaflet-popup {
  width: 390px;
}

.leaflet-popup-content-wrapper {
  border: 1px solid red;
	padding: 1px;
	text-align: left;
	border-radius: 12px;
  display: flex;
  
	}